body {
    background-color: #F5F5F5;
    padding-top: 50px;
    text-align: center;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    color:#333333;
}
.logo {
    margin: 50px auto;
    display: block;
}
.header_image{
    border-top:10px solid #08A7BA;
    display: block;
    width:1200px;
    margin: 25px auto 0 auto;
}
.img_content {
    display: inline-block;
    float: right;
    margin:0 0 16px 16px;
}
header {
    width:1200px;
    margin:0 auto;
}
main {
    display: inline-block;
    background-color: #fff;
    width: 1200px;
    margin:0 auto;
    line-height: 30px;
}
h1 {
    font-size: 2.5em;
    text-align: center;
}
h2 {
    font-size: 1.25em;
    font-weight: bold;
}
.content {
    width:900px;
    margin: 40px auto;
    text-align: left;
}
footer {
    margin: 0%;
    position: fixed;
    bottom: 0;
    width:100%;
}
a {
    display: inline-block;
    box-sizing: border-box;
    margin: 0%;
    width: 20%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding: 20px;
    transition: .25s all ease-in-out;
}
a:hover{
    padding-top:50px;
    border-radius: 5px 5px 0 0;
    animation: jell-o .5s;
}
.red {
    background-color: #E82231;
}
.red:hover {
    background-color: rgb(131, 20, 29);
}
.pink {
    background-color: #E61089;
}
.pink:hover {
    background-color: rgb(109, 6, 64);
}
.yellow {
    background-color: #F5A21E;
}
.yellow:hover {
    background-color: rgb(134, 89, 17);
}
.green {
    background-color: #89C241;
}
.green:hover {
    background-color: rgb(69, 100, 32);
}
.blue {
    background-color: #09A8BB;
}
.blue:hover {
    background-color: rgb(5, 104, 116);
}

@keyframes jell-o {
    0% {padding-top:50px}
    20% {padding-top:60px}
    60% {padding-top:45px}
    100% {padding-top:50px}
}